config mqttsub
    option enabled '0'
    option debug '0'

config broker
    option host ''
    option port ''
    option username ''
    option password ''
    option certfile ''

config smtp
    option host ''
    option username ''
    option password ''
    option certfile ''

config topic
    option name ''
    option qos ''

config event
    option topic ''
    option param ''
    option type ''
    option condition ''
    option threshold ''
    list email ''
